.italic-text {
    font-style: italic;
}

/* Example styles - modify as needed */
.mat-elevation-z8 {
    /* Your elevation styles */
  }
  
  /* Style form fields */
  mat-form-field {
    margin-bottom: 20px;
    width: 100%;
  }
  
  /* Style buttons */
  button {
    margin-left: 30px;
    /* Additional button styles */
  }
  
  /* Section headers */
  h2 {
    margin-top: 30px;
  }
  
  /* Additional styling for other elements as needed */
  /* ... */
  
