<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top p-3">
    <a class="navbar-brand" href="#">Attendace Form</a>
    <a class="text-white">Date: <span>{{ currentDate | date:'dd-MM-yyyy' }}</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-5">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
        </ul>
        
    </div>
    
</nav>
